<h1 class="text-center mt-4">Alpha Bloggers</h1>
<div class="d-flex justify-content-center">
  <div class="digg_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
<div class="container">
  <div class="card-deck spacing">
    <% @users.each do |user| %>
      <div class="card">
        <div class="card-header font-italic">
          <%= link_to user.username, user %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to gravatar_for(user, size: 150), user %>
          </h5>
          <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
          <%= link_to "View profile", user, class: "btn btn-primary" %>
          <% if logged_in? %>
            <% if user == current_user %>
              <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to "Delete user", user_path(user), class: "btn btn-outline-danger", method: :delete,
              data: {confirm: "Are you sure you want to delete the user account and all associated articles?"} %>
            <% end %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="digg_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>
